/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

ol, ul {
  list-style: none; }

html, body {
  height: 100%; }

* {
  outline: 1 px solid red; }

body {
  background-image: url("../images/leaderboard.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  height: 100%;
  margin-right: 2rem;
  margin-left: 2rem; }

.dashboard__section:first-of-type {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  margin-right: 4rem; }

h1 {
  font-weight: 600;
  font-size: 2.2rem;
  margin-top: 3rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 400px;
  padding: 1rem 2rem;
  text-align: center; }
  h1 small {
    font-size: 60%;
    font-weight: 400;
    display: block;
    margin-top: .3rem; }
  .pipes h1 {
    margin-left: 1rem;
    margin-right: 1rem; }
  .pictures h1 {
    margin-left: -2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .top h1 {
    margin-right: -2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.webgl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  height: 80%; }

.leaderboard {
  margin-right: -2rem; }
  .leaderboard__header {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase; }
  .leaderboard__item {
    border-bottom: 1px solid black;
    padding: .7rem 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    font-size: 1.2rem;
    will-change: box-shadow; }
    .leaderboard__item.has-change {
      animation: 1s flash ease; }
  .leaderboard__avatar {
    display: block;
    border-radius: 50%;
    margin-right: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 2px;
    width: 2.5rem;
    height: 2.5rem; }
    .has-change .leaderboard__avatar {
      transition: transform .5s ease;
      transform: rotateX(360deg); }
  .leaderboard__position {
    font-weight: 600;
    font-size: 1.8rem;
    -ms-flex: 0 0 4.5rem;
        flex: 0 0 4.5rem; }
  .leaderboard__username {
    -ms-flex: 1;
        flex: 1;
    margin-right: .5rem;
    word-break: break-all; }
    .has-change .leaderboard__username {
      transition: transform .5s ease;
      transform: rotateX(360deg); }
  .has-change .leaderboard__score {
    transition: transform .5s ease;
    transform: rotateX(360deg); }

sup {
  font-size: 50%; }

@keyframes flash {
  0% {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    /* outer right cyan */ }
  100% {
    box-shadow: none; } }
