#path-tool {
    display: none;
    position: absolute;
    z-index: 3000;
    bottom: 10px;
    left: 10px;
    padding: 4px 8px;

    &.active {
        background: #286f2e;
    }

    & > * {
        font-size: 80%;
        font-family: sans-serif;
        font-weight: bold;
    }

    button {
        background: black;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background: #888;
    }

    textarea {
        opacity: 0.1;
        width: 20vw;
        height: 8vh;
        border: none;
        background: rgba(0, 0, 0, 0);
        color: white;
        font-weight: normal;
        font-family: monospace;
        transition: opacity 0.1s ease-in, background-color 0.1s ease-in;
        &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
}
