<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Summit Keynote Dashboard</title>
  <script src="css.js"></script>
</head>

<body>
<!-- <body class="storm">  -->
  <!-- this will ytrigger the strom -->

  <div class="lightning"></div>
  <img src="images/bolt.svg" alt="Lightningbolt" class="lightningbolt">

  <div id="dashboard" class="dashboard">

    <ul class="header">
      <li>{{ pictureCount }}
        <small>pictures</small>
      </li>
      <li>{{ pictureCount * 15 }}
        <small>transactions</small>
      </li>
      <li>{{ totalPoints }}
        <small>points</small>
      </li>
      <li>{{ totalPlayers }}
        <small>All players</small>
      </li>
      <li>{{ privatePlayers }}
        <small>Private Cloud</small>
      </li>
      <li>{{ amazonPlayers }}
        <small>Amazon Cloud</small>
      </li>
      <li>{{ azurePlayers }}
        <small>Azure Cloud</small>
      </li>
    </ul>

    <section class="dashboard__section">

      <div class="pipes">

        <div class="network">

          <img v-for="image in scoredImages" v-bind:key="image.id" class="secondary-image" v-bind:class="image.swooshClass" v-bind:src="image.src"
          />

          <img src="images/pipes-top.png" class="network--top">
          <img src="images/pipes-bottom.png" class="network--bottom">
        </div>

      </div>

    </section>


    <section class="dashboard__section">

      <div class="leaderboard">
        <!-- <h2 class="leaderboard__header">Top 10</h2> -->
        <transition-group appear name="lbchange" tag="ol">
          <li v-for="(leader, index) in top10" v-bind:key="leader.playerId" class="leaderboard__item">
            <div class="leaderboard__position">
              {{ index + 1 }}
              <!-- <sup>{{ ord[index] }}</sup> -->
            </div>
            <!-- <img src="images/andres.jpg" alt="Avatar of username" class="leaderboard__avatar"> -->
            <span class="leaderboard__username">{{ leader.name }}</span>
            <span class="leaderboard__score">{{ leader.score }}
              <small>points</small>
            </span>
          </li>
          </transition>
      </div>
    </section>
  </div>

  <section id="path-tool">
    <span>Path Tool</span>
    <button id="start-path">Start</button>
    <button id="end-path">End</button>
    <textarea id="export-area"></textarea>
  </section>

  <div class="parcel-preload">
    <img src="images/particle.png" id="particle-sprite">
  </div>

  <script src="index.js"></script>

</body>

</html>
